
<!DOCTYPE html>
<html lang="en" ng-app="inventarioApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Categorías| ACME S.A.S.</title>

    <link rel="stylesheet" href="css/style.css">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>

<body ng-controller="categoriasCtrl">
    <input type="checkbox" id="menu-toggle">

    <div class="layout">

        <!-- SIDEBAR -->
        <aside class="sidebar">
            <div>
                <div class="logo">
                    <h2>ACME S.A.S.</h2>
                    <p>Sitema de Inventario</p>
                </div>
                <nav class="menu">
                    <a href="index.html">Dashboard</a>
                    <a href="productos.html">Productos</a>
                    <a href="clientes.html">Clientes</a>
                    <a href="proveedores.html">Proveedores</a>
                    <a href="categorias.html" class="active">Categorías</a>
                    <a href="cotizaciones.html">Cotizaciones</a>
                    <a href="ordenes.html">Órdenes de Tabajo</a>
                    <a href="compras.html">Compras</a>
                    <a href="reportes.html">Reportes</a>
                </nav>
            </div>
            <div class="user-box">
                <p><strong>Juan Administrador</strong></p>
                <span>Administrador</span>
                <button class="logout-btn">Cerrar Sesión</button>
            </div>
        </aside>

        <!-- MAIN -->
        <main class="main">
            <label for="menu-toggle" class="menu-icon">☰</label>
            <header class="header">
                <h1>Categorías</h1>
                <p>Gestión de categorias de productos</p>
            </header>

            <!-- AGREGAR CATEGORIA -->
            <a href="#nuevoCategoria" class="btn-new"><!--modales con :target, apunta al modal de nueva catego-->
                + Nueva Categoria
            </a>

            <!-- GRID Categorías -->
            <section class="catego-grid"><!--contenedor de las categorias-->
                <!-- Categorías -->

                <div class="catego-card" ng-repeat="c in categorias track by c.nombre">
                    
                    <h3>{{c.nombre}}</h3>

                    <p><strong>Descripción:</strong> {{c.descripcion}}</p>

                    <div class="card-actions"> <!--botones-->
                        <a href="#editarCategoria1" class="btn-edit" ng-click="editarCategoria(c)">
                            Editar
                        </a>
                        <a href="#eliminarCategoria1" class="btn-delete" ng-click="confirmarEliminar(c)">
                            Borrar
                        </a>
                    </div>
                </div>

            </section>
        </main>
    </div>

    <!-- MODAL NUEVA CATEGORIA -->
    <div id="nuevoCategoria" class="modal">

        <div class="modal-content">
            
            <div class="modal-header">
                <h2>Nueva Categoria</h2>
                <a href="#" class="close">&times;</a>
            </div>

            <p class="modal-subtitle">Complete la información de la categoría</p>

            <form class="modal-form" ng-submit="agregarCategoria()">

                <div class="form-grid"> <!--permite organizar campos en columnas.-->

                    <div class="form-group"> <!--Agrupar label + input-->
                        <label>Nombre *</label>
                        <input type="text" ng-model="nuevoCategoria.nombre">
                    </div>

                    <div class="form-group">
                        <label>Descripción *</label>
                        <input type="text" ng-model="nuevoCategoria.descripcion">
                    </div>

                </div>
                <div class="modal-actions">
                    <a href="#" class="btn-cancel">Cancelar</a>
                    <button type="submit" class="btn-save">Guardar</button>
                </div>

            </form>

        </div>
    </div>

    <!-- MODAL EDITAR CATEGORIA -->

    <div id="editarCategoria1" class="modal">
        <div class="modal-content">

            <div class="modal-header">
                <h2>Editar Categoría</h2>
                <a href="#" class="close">&times;</a>
            </div>

            <p class="modal-subtitle">Complete la información de la categoria</p>


            <form class="modal-form" ng-submit="guardarEdicionCategoria()">

                <div class="form-grid"> <!--permite organizar campos en columnas.-->

                    <div class="form-group">
                        <label>Nombre *</label>
                        <input type="text" ng-model="categoriaEdit.nombre">
                    </div>

                    <div class="form-group">
                        <label>Descripción *</label>
                        <input type="text" ng-model="categoriaEdit.descripcion">
                    </div>


                </div>

                <div class="modal-actions">
                    <a href="#" class="btn-cancel">Cancelar</a>
                    <button type="submit" class="btn-save">Guardar</button>
                </div>

            </form>

        </div>
    </div>


    <!-- MODAL ELIMINAR CATEGORIA -->

    <div id="eliminarCategoria1" class="modal">
        <div class="modal-content small"> <!--modal pequeño de confirmacion-->

            <div class="modal-header">
                <h2>Eliminar Categoría</h2>
                <a href="#" class="close">&times;</a>
            </div>

            <p>¿Está seguro que desea eliminar esta categoría?</p>

            <div class="modal-actions">
                <a href="#" class="btn-cancel">Cancelar</a>
                <button class="btn-danger" ng-click="eliminarCategoria()">Eliminar</button>
            </div>

        </div>
    </div>


    <!-- JS CATEGORIAS -->

    <script src="js/categorias.js"></script>

</body>

</html>

